body {
  background-color: #181818;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.navbar-nav .nav-link:hover {
  color: #3060ff;
}

.main-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.content-container {
  width: 100%;
  background-color: #202020;
  color: #f1f1f1;
  overflow: hidden;
  height: 100%;
  padding: 20px;
}

.quiz-page {
  max-width: 800px;
  margin: 0 auto;
}

.page-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.question-card {
  background-color: #303030;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.question-card:hover {
  background-color: #383838;
}

.question-img,
.explanation-img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.solution-section {
  margin-top: 15px;
}

.btn {
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.choice-text {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}

.choice-item {
  margin: 5px 0;
}

.choice-item.correct {
  background-color: #65b878;
  color: #155724;
}

.choice-item.incorrect {
  background-color: #c74751;
  color: #721c24;
}

.explanation {
  text-align: center;
  margin-top: 10px;
}

.explanation-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

